.center {
	margin: auto;
}
#note {
	font-size: 1.3em;
}
.bold {
	font-weight: bold;
}
#footer {
	background-color: teal;
	opacity: 0.8;
}
.text {
	font-size: 1.3em;
	color: white;
}
.hyperlink {
	font-weight: bold;
}

.button {
	background-color: gray;
	font-color: white;
	font-size: 1.3em;
	width: 24%;
	height: 5em;
	border-radius: 8px;
}
.button_layout {
	padding-top: .25%;
	padding-bottom: .25%;
}
#status {
    position: fixed;
    bottom: .5%;
    right: .5%;
    z-index: 99;
    border: none;
    outline: none;
    background-color: teal;
    color: white;
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.5em;
}
